/* Geral */

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* Exercicio conta hipotenusa */
.adivinhacao {
  height: 30vh;
  border: 2px solid black;
  margin: 10px 10vw;
  text-align: center;
}
.temp {
  height: 30vh;
  border: 2px solid black;
  margin: 10px 10vw;

  text-align: center;
}
.conta {
  height: 30vh;
  border: 2px solid black;
  margin-left: 10vw;
  margin-right: 10vw;
}
.conta input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  text-align: center;
  margin-bottom: 10px;
}
.conta button {
  margin-left: 37vw;
  padding: 10px 20px;
}
.conta label {
  margin-left: 35vw;
  margin-top: 10px;
}

/* Contador */
.contador {
  margin-top: 20px;
  height: 30vh;
  border: 2px solid black;
  margin-left: 30vw;
  margin-right: 30vw;
}
.buttons {
  display: flex;
  justify-content: space-between;
}
.contador button {
  width: 100px;
  margin: 100px 10px;
  padding: 10px;
}
.contador h1 {
  text-align: center;
  display: block;
}

/* Rolagem de Dados */
.dados {
  margin-top: 20px;
  height: 30vh;
  border: 2px solid black;
  margin-left: 20vw;
  margin-right: 20vw;
}
.dados ul {
  list-style: none;
  justify-content: space-around;
  display: flex;
}
.dados ul li {
  margin-left: 10px;
  padding: 10px;
}
.dados button {
  display: block;
  margin-left: 40%;
  padding: 5px 20px;
}
.resulRolagem {
  text-align: center;
  display: block;
  margin-bottom: 10px;
}
